.carta{
    width: 100px !important;
    height: 100px;
    margin:15px;
    background-color: red;
}
div{
    display: inline-block;
}
#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.js{
    background-image: url(Photo/js.png)
}
.php{
    background-image: url(Photo/php.jpeg)
}
.css3{
    background-image: url(Photo/ccs.png)
}
.html5{
    background-image: url(Photo/html.png)
}
.linux{
    background-image: url(Photo/linux.png)
}
.angular{
    background-image: url(Photo/angular.png)
}
